   
    <header>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400&family=Inria+Serif:ital,wght@0,300;0,400;1,300;1,700&display=swap" rel="stylesheet">
        <div class="logo img">
            <a href="index.html"><img width="7%" src="Logo soluções em técnico de informática azul e verde água .png" alt=""></a>
        </div>
        <div class="links">
            <ul>
                <li>
                    <a href="#"> Início </a>
                </li>
                <li>
                    <a href="#"> Novidades </a>
                </li>
                <li>
                    <a href="#"> Categorias </a>
                </li>
                <li>
                    <a href="#"> Contato </a>
                </li>
                <li>
                    <a routerLink="/login">Login/Cadastro</a>
                </li>
            </ul>
        </div>
    </header>
