
    <section class="area-login">
        <div class="login">
            <div>
                <img src="Logo soluções em técnico de informática azul e verde água .png">

            </div>
            <form method="post">
                <input type="text" name="nome" placeholder="Nome de usuário" autofocus id="login">
                <input type="password" name="senha" placeholder="Senha" id="senha">
                <input type="submit" value="Entrar" return false>
                <script src="home.js" defer></script>
            </form>
            <p>Ainda não tem uma conta?<a href="#">Criar conta!</a></p>
        </div>

    </section>


