
<main>
  <header>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400&family=Inria+Serif:ital,wght@0,300;0,400;1,300;1,700&display=swap" rel="stylesheet">
      <div class="logo img">
          <a href="index.html"><img width="7%" src="/assets/img/Logo soluções em técnico de informática azul e verde água .png" alt=""></a>
      </div>
      <div class="links">
          <ul>
              <li>
                  <a href="#"> Início </a>
              </li>
              <li>
                  <a href="#"> Novidades </a>
              </li>
              <li>
                  <a href="#"> Categorias </a>
              </li>
              <li>
                  <a href="#"> Contato </a>
              </li>
              <li>
                  <a href="login.html"> Login/Cadastro </a>
              </li>
          </ul>
      </div>
  </header>
</main>

<div class="content">

  <div class="slides">

      <input class="input" type="radio" name="slide" id="slide1" checked>
      <input class="input" type="radio" name="slide" id="slide2">
      <input class="input" type="radio" name="slide" id="slide3">
      <input class="input" type="radio" name="slide" id="slide4">
      <input class="input" type="radio" name="slide" id="slide5">


      <div class="slide s1">
          <img src="/assets/img/como-montar-um-pc-gamer-0-pexels-john-petalcurin-4317157-scaled 1 (1).png" alt="">
      </div>

      <div class="slide">
          <img src="/assets/img/como-montar-um-pc-gamer-0-pexels-john-petalcurin-4317157-scaled 1 (1).png" alt="">
      </div>

      <div class="slide">
          <img src="/assets/img/como-montar-um-pc-gamer-0-pexels-john-petalcurin-4317157-scaled 1 (1).png" alt="">
      </div>

      <div class="slide">
          <img src="/assets/img/como-montar-um-pc-gamer-0-pexels-john-petalcurin-4317157-scaled 1 (1).png" alt="">
      </div>

      <div class="slide">
          <img src="/assets/img/como-montar-um-pc-gamer-0-pexels-john-petalcurin-4317157-scaled 1 (1).png" alt="">
      </div>
  </div>
</div>

<div class="navigation">

  <label class="bar" for="slide1"></label>
  <label class="bar" for="slide2"></label>
  <label class="bar" for="slide3"></label>
  <label class="bar" for="slide4"></label>
  <label class="bar" for="slide5"></label>
  <script src="/assets./script.js"></script>

</div>

<div class="promoção">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400&family=Inria+Serif:ital,wght@0,300;0,400;1,300;1,700&display=swap" rel="stylesheet">
  <img class="i" src="/assets/img/Rectangle 40.png" alt="retangulo">
  <h1 class="p">CONFIRA PRODUTOS EM PROMOÇÃO</h1>
</div>

<section>
  <div class="r">
      <img class="i2" src="/assets/img/Rectangle 41.png" alt="retangulo2">
      <h2 class="R">RECOMENDADOS</h2>
  </div>

  <div class="painel">
      <div>
          <img class="videogame" src="/assets/img/image 6.png" alt="videogame">


      </div>
      <div>
          <img class="videogame" src="/assets/img/image 6.png" alt="videogame">
      </div>
      <div>
          <img class="videogame" src="/assets/img/image 6.png" alt="videogame">
      </div>
      <div>
          <img class="videogame" src="/assets/img/image 6.png" alt="videogame">
      </div>
      <div>
          <img class="videogame" src="/assets/img/image 6.png" alt="videogame">
      </div>

      <div class="v">
          <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
          <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400&family=Inria+Serif:ital,wght@0,300;0,400;1,300;1,700&display=swap" rel="stylesheet">
          <img class="i3" src="/assets/img/Rectangle 41.png" alt="retangulo3">
          <h3 class="V">MAIS VENDIDOS</h3>
      </div>
  </div>

  <div class="painel2">
      <div class=""></div>
      <div>

          <img class="videogame" src="/assets/img/image 6.png" alt="videogame">
          <div class="texto-card cardnews">
              <a href="#">
                  <h3>Headset Gamer</h3>
              </a>
              <p>Descrição.</p>
              <p class="preco">R$120,00</p>

          </div>

      </div>
      <div>
          <img class="videogame" src="/assets/img/image 6.png" alt="videogame">
          <div class="texto-card cardnews2">
              <a href="#">
                  <h3>Headset Gamer</h3>
              </a>
              <p>Descrição.</p>
              <p class="preco">R$120,00</p>

          </div>
      </div>
      <div>
          <img class="videogame" src="/assets/img/image 6.png" alt="videogame">
          <div class="texto-card cardnews3">
              <a href="#">
                  <h3>Headset Gamer</h3>
              </a>
              <p>Descrição.</p>
              <p class="preco">R$120,00</p>

          </div>
          <div>
              <img class="videogame" src="/assets/img/image 6.png" alt="videogame">
              <div class="texto-card cardnews4">
                  <a href="#">
                      <h3>Headset Gamer</h3>
                  </a>
                  <p>Descrição.</p>
                  <p class="preco">R$120,00</p>

              </div>
              <div>
                  <img class="videogame" src="/assets/img/image 6.png" alt="videogame">
                  <div class="texto-card cardnews5">
                      <a href="#">
                          <h3>Headset Gamer</h3>
                      </a>
                      <p>Descrição.</p>
                      <p class="preco">R$120,00</p>

                  </div>
              </div>
          </div>
          <section>
              <div class="formulario">
                  <link rel="preconnect" href="https://fonts.googleapis.com">
                  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                  <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400&family=Inria+Serif:ital,wght@0,300;0,400;1,300;1,700&display=swap" rel="stylesheet">

                  <h1 id="t" class="cds">Se cadastre para não perder os nossos melhores descontos!</h1>
                  <script src="/assests/js/jquery-3.6.0.min.js"></script>
                  <script>
                      $('t').fadeOut(5000).fadeIn(5000)
                  </script>

                  <form>

                      <div class="input-field">
                          <input type="email" name="email" id="email" placeholder="Seu melhor e-mail!">

                          <button id="bot" onclick="cadastrarNewsletter()">Ok!</button>
                      </div>



                  </form>


              </div>

          </section>
          <footer>
              <div>
                  <link rel="preconnect" href="https://fonts.googleapis.com">
                  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                  <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400&family=Inria+Serif:ital,wght@0,300;0,400;1,300;1,700&display=swap" rel="stylesheet">
                  <h1 class="titulo">ONDE NOS ENCONTRAR:</h1>
                  <h2 class="inf">TELEFONE: (XX) XXXXX-XXXX </h2>
                  <h2 class="inf2">EMAIL: XXXXX@XXXX.com </h2>
                  <h2 class="inf3">REDES SOCIAIS: </h2>
                  <h2 class="inf4">
                      <a href="#"><img src="/assets/img/rs.png" alt="redesociais"></a>
                  </h2>
                  <img class="inf5" src="/assets/img/Logo soluções em técnico de informática azul e verde água .png" alt="">




              </div>


          </footer>
